$keycolor: rgb(247, 125, 25);
$defaultfont: 300 1rem "Roboto Slab", serif;

body {
    background-color: #2a75920f;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex: 2;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    min-height: 80vh;
    font: $defaultfont;
}


p {
    margin: 1rem;
    text-decoration: underline;

}


section {
    max-width: 800px;
    margin: 2rem auto;
    background: rgba(238, 234, 234, 0.8);


    h2 {
        font-size: 1.25rem;
        font-weight: 400;
        padding: 1rem 0;
    }
}


form {
     border: none;
     padding: 0 2rem 2rem;
}