$keycolor: rgb(247, 125, 25);
$defaultfont: 300 1rem "Roboto Slab", serif;

body {
    background-color: #2a75920f;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex: 2;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    min-height: 80vh;
    font: $defaultfont;
}


p {
    margin: 1rem;
    text-decoration: underline;

}


section {
    max-width: 800px;
    border-radius: 1rem;
    margin: 2rem auto;
    background: #e9f6fd00;
    box-shadow: 0px 0px 50px #cccccc; 

    h2 {
        font-size: 1.25rem;
        font-weight: 500;
        padding: 1.5rem 0;
    }
}

form {
     border: none;
     padding: 0 1rem 1rem;
}

input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
    &:hover{
        border: 1px solid #5d8f9e;
    }
}

button{
    display: block;
    height: 40px;
    padding: 0;
    width: 170px;
    background: none;
    margin: 10px auto;
    border: 2px solid #57c1dc;
    font-size: 18px;
    color: #57c1dc;
    cursor: pointer;
    outline: none;
    text-align: center;
    border-radius: 2rem;
    &:hover{
      background: #28b2d4;
      color: white;
    }
}