
header {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
    background-image: linear-gradient(#2a75928c, #ffff0000);
}


h1 {
    font: 800 2.5rem "Roboto Slab", serif;
}

.title {
    color: #000000c9;
    text-shadow: 1px 1px #65656573;
}